@font-face {
    font-family: 'Muller Narrow-Trial';
    src: local('Muller Narrow-Trial Regular'), local('MullerNarrow-Trial-Regular'),
        url('../fonts/MullerNarrow-Trial-Regular.woff2') format('woff2'),
        url('../fonts/MullerNarrow-Trial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller Narrow-Trial';
    src: local('Muller Narrow-Trial Medium'), local('MullerNarrow-Trial-Medium'),
        url('../fonts/MullerNarrow-Trial-Medium.woff2') format('woff2'),
        url('../fonts/MullerNarrow-Trial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller Narrow-Trial';
    src: local('Muller Narrow-Trial Bold'), local('MullerNarrow-Trial-Bold'),
        url('../fonts/MullerNarrow-Trial-Bold.woff2') format('woff2'),
        url('../fonts/MullerNarrow-Trial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller Narrow-Trial';
    src: local('Muller Narrow-Trial Black'), local('MullerNarrow-Trial-Black'),
        url('../fonts/MullerNarrow-Trial-Black.woff2') format('woff2'),
        url('../fonts/MullerNarrow-Trial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}






